@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #665dfe;
$orange: #E38968;
$gray: #f5f6fa;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
  direction: rtl;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0!important;
  }
  .chat-history {
    padding: 10px 10px 20px!important;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  // background: #444753;
  border-radius: 5px;
  padding: 10px 0;
}

.people-list {
  width:260px;
  float: left;
  
  .search {
    padding: 20px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
 
    
    
    
    li {
      padding-bottom: 20px;
    }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-right: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
//   width: 490px;
//   float:left;
height: 100vh;
display: flex;
flex-direction: column;
  background: #fafbfd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  color: #434651;
  
  .chat-header {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #e5e9f2;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-right: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid #e5e9f2;
    overflow-y: scroll;
    // height: 575px;
    flex:1;
    .message-data {
      margin-bottom: 15px;
    }
    ul{
      padding-inline-start: 0;
    }
    .message-data-time {
      color: lighten($gray, 8%);
      padding-right: 6px;
    }
    
    .message {      
      color: white;
      padding: 15px 20px;
      line-height: 26px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      max-width: 25rem;
      border-radius: 1.25rem;//7px;
      // margin-bottom: 30px;
      width: 90%;
      position: relative;
      
      &:after {
        display: none;
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $gray;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $blue;
      float: right;
    }
    
    .other-message {
      background: $gray;
      color: #8094ae;
      float: left;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px 10px;
    
    textarea {
      width: 80%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 0.5rem;//5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: left;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $gray;
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.message-options {
  display: grid;
  width: 100%;
  padding: 0 0.5rem;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

